@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "./variable.scss";
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 140%;
  //   color: $p-color;
}
p,
span {
  line-height: 150%;
  //   color: $p-color;
}

.light-text {
  color: $light-color;
}

.button,
.button-nb {
  background-color: transparent;
  border-radius: 10px;
  padding: 8px 12px;
  color: $nav-color;
  border: 1px solid $nav-color;
  cursor: pointer;
}
.button-nb {
  border: none;
  padding: 0;
}
