//color
$bg-color: rgb(25, 25, 25);
$sec-bg-color: rgb(35, 35, 35);
$nav-color: rgb(92, 137, 235);
$p-color: rgb(229, 229, 229);
$s-color: #2ecc71;
$link-color: #4747c0;

$box-shadow: rgb(0 0 0 / 5%) 0px 5px 10px;

//
$content-width: 80%;
