@import "../variable.scss";
@import "../mixins.scss";

.layout-wrapper {
  margin-top: 70px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: $bg-color;
  color: white;
  min-height: 100vh;

  .layout-inner {
    margin-top: 30px;
    width: 80%;
    max-width: 1200px;
    display: flex;

    @include medium {
      width: 90%;
    }
    @include tablet {
      width: 100%;
    }
    .sidebar-wrapper,
    .rightbar-wrapper {
      padding: 10px;
      height: fit-content;
      position: sticky;
      top: 100px;
    }
    .content-wrapper {
      width: 620px;
      padding: 10px;
    }
    .sidebar-wrapper {
      margin-right: 20px;
      @include tablet {
        display: none;
      }
      a {
        text-decoration: none;
        color: $p-color;
      }
      .siderbar-item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        width: fit-content;
        border-radius: 9999px;
        margin-bottom: 10px;
        cursor: pointer;
        &:hover {
          background-color: black;
        }
        @include medium {
          span {
            display: none;
          }
        }
        span {
          margin-left: 20px;
          font-size: 20px;
        }
      }
    }
    .rightbar-wrapper {
      margin-left: 20px;
    }
  }
}
